body{
    background-image: url(./images/bkg.gif);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(36, 54, 52, 0.7);
    color: #ffffff;
    border-radius: 20px;
    margin: 15px;
    padding: 0.3rem 1.5rem;
}

a{
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
    background-color: rgba(36, 54, 52, 0.7);
    border-radius: 10px;
    padding: 3px 5px
}

a:hover{
    color:rgb(80, 224, 208);
    transform: scale(1.04);
}

.column {
  background-color: rgba(36, 54, 52, 0.7);
  padding: 0.3rem 1.5rem;
  border-radius: 15px;
  color: #ffffff;
}

.home-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}